<header>
    <div class="top-header">
        <a class="enlace-logo" href="/">
            <img class="logo" src="/images/design/logo-mercado-liebre.svg" alt="Mercado-Liebre">
        </a>
        <div class="buscador">
            <form action="search" method="get">
                <input type="text" class="input" name="search" placeholder="Buscar productos, marcas">
                <i class="fa fa-search lupa"></i>
            </form>
        </div>
        <p>
            <i class="fas fa-hand-holding-usd"></i> Comprá en cuotas y sin tarjeta de crédito
        </p>
    </div>
    <nav>
        <ul>
            <li><a href="#ofertas">Ofertas</a></li>
            <li><a href="">Tiendas Oficiales</a></li>
            <li><a href="/1/vender">Vender</a></li>
            <li><a href="">Ayuda</a></li>
        </ul>
        <p>hola <%= locals.userLogged %></p>
        <ul>
            <% if (locals.isLogged) { %>
                <li>
                    <a href="">Mis compras</a>
                    <i class="fa-solid fa-cart-shopping"></i>
                </li>
                <li class="profile-img">
                    <a href="/profile">
                        <div>
                            <img src="/images/users/<%= locals.userLogged.avatar %>" alt="<%= locals.userLogged.usuario %>">
                        </div>
                        <p>Hola, @<%= locals.userLogged.usuario %></p>
                    </a>
                </li>
            <% } else { %>
                <li>
                    <a href="/registro">Creá tu cuenta</a>
                    <i class="fa-solid fa-user"></i>
                </li>
                <li>
                    <a href="/login">Ingresá</a>
                    <i class="fa-solid fa-right-to-bracket"></i>
                </li>
            <% } %>
        </ul>
    </nav>
    <div class="burger-menu">
        <i class="fas fa-bars"></i>
    </div>
</header>