<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <script src="https://kit.fontawesome.com/955163d0fd.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" href="/images/logo-mercado-liebre.svg">
</head>

<body>
    <header>
        <div class="top-header">
            <img class="logo" src="/images/logo-mercado-liebre.svg" alt="Mercado-Liebre">
            <div class="buscador">
                <form action="buscador">
                    <input type="text" class="input" name="search" placeholder="Buscar productos, marcas">
                    <i class="fa fa-search lupa"></i>
                </form>
            </div>
            <p>
                <i class="fas fa-hand-holding-usd"></i> Comprá en cuotas y sin tarjeta de crédito
            </p>
        </div>
        <nav>
            <ul>
                <li><a href="#ofertas">Ofertas</a></li>
                <li><a href="">Tiendas Oficiales</a></li>
                <li><a href="">Vender</a></li>
                <li><a href="">Ayuda</a></li>
            </ul>
            <ul>
                <li>
                    <a href="/register">Creá tu cuenta</a>
                    <i class="fa-solid fa-user"></i>
                </li>
                <li>
                    <a href="/login">Ingresá</a>
                    <i class="fa-solid fa-right-to-bracket"></i>
                </li>
                <li>
                    <a href="">Mis compras</a>
                    <i class="fa-solid fa-cart-shopping"></i>
                </li>
            </ul>
        </nav>
        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>
    </header>
    <section>
        <img class="banner-img" src="/images/img-home-banner.jpg" alt="banner">
    </section>
    <main class="registro-login-box">
        <div>
            <h2>Registro</h2>
            <form action="procesar_registro.php" method="POST">
                <input type="text" id="nombre" name="nombre" placeholder="Nombre y apellido" required><br>

                <input type="text" id="usuario" name="usuario" placeholder="Usuario" required><br>

                <input type="email" id="email" name="email" placeholder="E-mail" required><br>

                <label for="fecha" class="titulo-form">Fecha de nacimiento</label><br>
                <input type="date" id="fecha" name="fecha" placeholder="Fecha de nacimeinto" required><br>

                <label for="opciones" class="titulo-form">Perfil del usuario</label><br>
                <select name="opciones" id="opciones">
                    <option value="comprador">Comprador</option>
                    <option value="Vendedor">Vendedor</option>
                </select><br>

                <label for="intereses" class="titulo-form">Intereses</label><br>
                <label>
                    <input type="checkbox" name="intereses" value="electro"> Electro
                </label>
                <br>
                <label>
                    <input type="checkbox" name="intereses" value="moda"> Moda
                </label>
                <br>
                <label>
                    <input type="checkbox" name="intereses" value="hogar"> Hogar
                </label>
                <br>
                <label>
                    <input type="checkbox" name="intereses" value="jugueteria"> Jugueteria
                </label>
                <br>
                <label>
                    <input type="checkbox" name="intereses" value="vida-sana"> Vida sana
                </label>
                <br>

                <input type="password" id="password" name="password" placeholder="Contraseña" required><br>

                <input type="password" id="password-confirm" name="password" placeholder="Confirmar contraseña"
                    required><br>

                <input type="submit" value="Registrar" class="boton">
            </form>
            <a class="back" href="/">
                <i class="fa-solid fa-backward"></i>
            </a>
        </div>
    </main>
    <footer>
        <div>
            <section>
                <i class="fa-solid fa-credit-card"></i>
                <h3>Pagá con tarjeta o en efectivo</h3>
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                    puntos de pago. ¡Y siempre es seguro!</p>
            </section>
            <section>
                <i class="fa-solid fa-gift"></i>
                <h3>Envío gratis desde $ 2.500</h3>
                <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                    productos. Es un beneficio de Mercado Puntos.</p>
            </section>
            <section>
                <i class="fa-solid fa-user-shield"></i>
                <h3>Seguridad, de principio a fin</h3>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                    porque estás siempre protegid@.</p>
            </section>
        </div>
        <section>
            <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
        </section>
    </footer>
</body>

</html>