/*
PALETA DE COLORES:

Amarillo: #EAC926;
Azul: #03264C;
Celeste: #1259c3;
Gris oscuro: #666;
Gris claro: #ebebeb;
Verde: #39b54a;
font-family: 'Roboto', sans-serif;
*/

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: #ebebeb;
}

header{
    background-color: #EAC926;
}

p{
    font-size: 15px;
}

/* HEADER */

.top-header{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    padding: 5%;
}
.enlace-logo{
    width: 50%;
}
.logo{
    width: 100%;
    padding: 10px;
}

.buscador{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    padding: 5px;
}

header nav ul li a{
    font-size: 15px;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.685);
    font-weight: bold;
    transition: 0.2s;
    margin-right: 5px;
}

header nav ul li a~i{
    color: rgba(0, 0, 0, 0.685);
    transition: 0.2s;
}

header nav ul li a:hover{
    color: #000;
}

header nav ul li a:hover~i{
    color: #000;
}

header nav ul li{
    margin-top: 5px;
    list-style-type: none;
    display: flex;
    align-items: center;
}

header nav{
    display: none;
}

header p{
    text-align: center;
}

header .buscador .input{
    background-color: #FFF;
    color: #666;
    border: none;
    outline: none;
    width: 80%;
    border-radius: 5px;
}

header .buscador form{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #000;
    border-radius: 5px;
    background-color: #FFF;
    padding: 5px;
}

header .buscador .lupa{
    background-color: #FFF;
    border: none;
    color: #666;
    border-radius: 5px;
}

header div.burger-menu i{
    color: #FFF;
    background-color: #1259c3;
    font-size: 20px;
    padding: 10px;
    margin: 10px 0px 20px 0px;
    border-radius: 5px;
}

header div.burger-menu{
    text-align: center;
}

header nav .profile-img div{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
}

header nav .profile-img img{
    width: 100%;
    height: 100%;
}

header nav .profile-img a{
    display: flex;
    align-items: center;
}

header nav .profile-img a p{
    font-size: 15px;
    margin-left: 5px;
}
/* MAIN */

main{
    margin: 0 auto;
    width: 90vw;
}

main section h3{
    font-size: 24px;
    color: #666;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.banner-img{
    width: 100%;
}

main section article{
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: #FFF;
    overflow: hidden;
}

main section article a{
    text-decoration: none;
}

main section article img{
    width: 100%;
}

.info-article{
    border-top: 1px solid #ebebeb;
    padding: 15px;
    position: relative;
    width: 100%;
}

.info{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.precios{
    padding-right: 5rem;
    font-size: 18px;
    color: #000;
}

.descuentos{
    font-size: 16px;
    color: #39b54a;
}

.descripcion{
    font-size: 16px;
}

main section article div i{
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    color: #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;
}

.descripcion{
    display: none;
}

/* FOOTER */
footer{
    text-align: center;
    margin: 0 auto;
    width: 98%;
    background-color: #FFF;
}

footer section{
    padding: 40px;
}

footer i{
    color: #1259c3;
    font-size: 40px;
}

footer p{
    color: #666;
}

/* LOGIN / REGISTRO */
.registro-login-box{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 55vh;
}

.registro-login-box div{
    padding: 2rem;
    width: 500px;
}

.registro-login-box div input,
.registro-login-box div select{
    margin-top: 1rem;
    margin-bottom: 1rem;
}

#nombre,
#usuario,
#email,
#fecha,
#opciones,
#password,
#password-confirm{
    padding: 10px;
    width: 100%;
    border-radius: 7px;
    border: none;
    outline: none;
    color: #666;
}

main form .titulo-form{
    font-size: 16px;
    font-weight: bold;
}

main form .boton{
    padding: 10px;
    background-color: #1259c3;
    color: #FFF;
    border: none;
    width: 100%;
    outline: none;
    border-radius: 7px;
    transition: 0.2s;
}

main form .boton:hover{
    cursor: pointer;
    background-color: #0022AA;
    transition: 0.2s;
}

main form .boton:active{
    box-shadow : 0px 0px 10px #000000 inset;
    transition: 0.2s;
}

main .back{
    padding: 5px 9px 3px 7px;
    color: #666;
    outline: none;
    background-color: #FFF;
    border-radius: 7px;
    transition: 0.2s;
}

main .back:hover{
    cursor: pointer;
    background-color: #cacaca;
    transition: 0.2s;
}

main .back:active{
    box-shadow : 0px 0px 10px rgb(131, 131, 131) inset;
    transition: 0.2s;
}

/* REGISTER ERRORS */
.errors{
    font-size: 14px;
    font-weight: bold;
    color: rgb(255, 1, 1);
}

/* 404 */
.error-404 {
    min-height: 55vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.error-404 div{
    text-align: center;
}

.error-404 h3{
    font-size: 40px;
}

.error-404 h4{
    font-size: 30px;
    margin-bottom: 20px;
}

.error-404 a{
    padding: 1rem;
    border-radius: 10px;
    background-color: #1259c3;
    transition: 0.2s ease-in-out;
    text-decoration: none;
    color: #FFF;
}

.error-404 a:hover{
    background-color: #0022AA;
}

.error-404 a:active{
    background-color: #0a1644;
}

/************************************** SEARCH ************************************/

.main-search {
    min-height: 70vh;
}

.main-search hr{
    margin: auto;
    width: 95%;
    color: #1a1a1a;
}

.main-search article {
    margin: auto;
    width: 95%;
    margin-bottom: 10px;
    margin-top: 10px;
    display: flex;
}

.main-search h3,
.main-search2 h3 {
    font-size: 17px;
}

.main-search h4 {
    font-size: 15px;
}

.main-search h5 {
    font-size: 14px;
}

.imagen-detalle-prod {
    width: 200px;
    width: 50%;
    height: 200px;
    border: 1px solid #1a1a1a80;
    box-shadow: 0px 0px 5px #1a1a1a80;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.green {
    color: green;
}

.main-search img {
    width: 100%;
    max-height: 100%;
}

.descripcion_search_prod {
    margin-left: 1rem;
    width: 50%;
}

.descripcion_search_prod a {
    text-decoration: none;
    text-align: center;
    display: inline-block;
    padding: 10px;
    margin-top: 10px;
    color: #1c232a;
    width: 100px;
    border-radius: 4px;
    transition: all 0.3s ease;
    background-color: #1259c3;
    color: #FFF;
}

.descripcion_search_prod a:hover {
    background-color: #0022AA;
}

.descripcion_search_prod a:active {
    box-shadow: 0px 0px 10px #0a1644 inset;
}

.notfound-search{
    text-align: center;
}

/* PROFILE */
.profile{
    min-height: 55vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile div{
    text-align: center;
}

.profile div h3{
    font-size: 25px;
    margin-bottom: 10px;
}

.profile div .info-profile{
    margin-top: 10px;
    background-color: #8d8d8d;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgb(138, 138, 138);
    margin-bottom: 10px;
}

.profile div .info-profile span{
    font-weight: bold;
}

.profile div .info-profile p{
    font-size: 15px;
    color: #ffffff;
}

.profile div .img-profile{
    width: 200px;
    height: 200px;
    display: flex;
    margin: auto;
    justify-content: center;
    overflow: hidden;
    border-radius: 50%;
    box-shadow: 0px 0px 10px rgb(138, 138, 138);
}

.profile a{
    padding: 5px 10px 5px 10px;
    color: #FFF;
    background-color: #1259c3;
    text-decoration: none;
    border-radius: 20px;
    transition: 0.2s ease-in-out;
}

.profile a:hover{
    background-color: #0022AA;
    box-shadow: 0px 0px 10px rgb(138, 138, 138);
}

.profile a:active{
    background-color: #0a1644;
}
/* RESPONSIVE */

/* TABLET */
@media (min-width: 361px){
    .productos{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .descripcion{
        color: transparent;
        transition: 0.2s;
    }

    main section article{
        transition: .2s all;
    }

    main section article:hover{
        box-shadow : 0px 0px 10px rgb( 100 , 100 , 100 );
        transition: .2s all;
    }

    main section article:hover .descripcion{
        color: #000;
        transition: 0.2s;
    }

    main section article i{
        transition: transform 0.3s;
    }

    main section article:hover i{
        transform: rotate(-90deg);
    }

    main section article{
        width: 45%;
    }


    header nav ul{
        display: flex;
        margin-bottom: 0;
        justify-content: space-around;
        width: 42%;
        display: flex;
        flex-wrap: wrap;
        padding: 10px;
    }

    .imagen-detalle-prod {
        width: 50%;
    }

    .descripcion_search_prod{
        width: 70%;
    }

    .profile div .img-profile{
        width: 250px;
        height: 250px;
    }

}

/* DESKTOP */
@media (min-width: 1007px){
    main section article{
        width: 22.5%;
    }

    header div.burger-menu{
        display: none;
    }

    header nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 10px;
        padding-right: 10px;
        height: 60px;
    }

    .top-header{
        padding: 1%;
        justify-content: space-between;
        align-items: center;
    }
    .enlace-logo{
        width: 200px;
    }
    .logo{
        width: 200px;
    }

    footer div{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }
    header .buscador form{
        width: 50%;
    }

    .descripcion{
        display: block;
    }

    .imagen-detalle-prod {
        width: 200px;
        height: 200px;
        border: 1px solid #1a1a1a80;
        box-shadow: 0px 0px 5px #1a1a1a80;
        border-radius: 5px;
        display: flex;
        align-items: center;
    }

    .profile div .img-profile{
        width: 300px;
        height: 300px;
    }

}