<%- include('../partials/head', {tituloWeb: 'MercadoLiebre - Login' }) %>
<body>
    <!-- HEADER -->
    <%- include("../partials/header")%>
    <!-- FIN HEADER -->
    <main class="registro-login-box">
        <div>
            <h2>Login</h2>
            <form action="procesar_registro.php" method="POST">

                <input type="text" id="usuario" name="usuario" placeholder="Usuario" required><br>

                <input type="password" id="password" name="password" placeholder="Contraseña" required><br>

                <input type="submit" value="Ingresar" class="boton"> <br>

            </form>
            <a class="back" href="/">
                <i class="fa-solid fa-backward"></i>
            </a>
        </div>
    </main>
    <!-- FOOTER -->
    <%- include("../partials/footer")%>
    <!-- FIN FOOTER -->
</body>

</html>